*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --sign-color: #414558;
    --body-color: #272935;
    --outine-color: #494B54;
    --white-color: #d6d7db;
    --white2-color:#e5e7e8;
    --white3-color: #f8f8f2;
    --main-color: #181920;
    --pink-color: #ff7ac6;
    --pink2-color: #f94faf;
    --black-color: #000;
    --purple-color: #bf95f9;
    --yellow-color: #ffb86b;
    --yellow2-color:#f3a34d;
    --page-color:#09090c;
    --darkpurle-color : #301C27;
    --boxshadow2-color: rgba(0, 0, 0, 0.1);
    --boxshadow-color: rgba(0, 0, 0, 0.2);
    --font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
.light-theme{

}
body{
    background-color: var(--body-color);
}

img {
    width: 100%;
}
.sign{
    width: 100%;
    background-color: var(--sign-color);
    padding: 9px 0 9px 0;
}
.acc{
    width: 100%;
    padding: 0 36px 0 36px;
    text-align: right;
}
.create{
    font-family: var(--font-family);
    color: var(--white-color);
    font-size: 16px;
    text-decoration: none;
    margin-left: 20px;
}
.create:hover{
    border-bottom: 1px solid var(--white-color);
}
.guest{
    font-family: var(--font-family);
    color: var(--white-color);
    font-size: 16px;
    text-decoration: none;
}
.guest:hover{
    border-bottom: 1px solid var(--white-color);
}
.container{
    margin: 0 auto;
    width: 95%;
}
header{
    width: 100%;
    padding: 9px 36px 9px 36px;
    background-color: var(--main-color);
    display: flex;
    align-items: center;
}
header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
ul{
    list-style-type: none;
    display: flex;
    gap: 30px;
    text-align: center;
}
ul li a{
    text-decoration: none;
    color: var(--white-color);
    font-family: var(--font-family);
    cursor: pointer;
    font-size: 16px;
    text-align: center;
}
.logo{
    width: 55px;
    background-color: var(--pink-color);
    border-radius: 10px;
    text-align: center;
}
.logo:hover{
    background-color: var(--pink2-color);
}
.logo p{
    font-family:var(--font-family);
    font-size: 50px;
    margin-top: -11px;
}
.home{
    font-weight: 200;
    background-color: var(--sign-color);
    border: 0px solid var(--white2-color);
    border-radius: 9px;
    text-align: center;
    padding: 9px 18px 9px 18px;
}
.own{
    margin-top: 10px;
}
.car{
    filter: brightness(0) invert(1);
    width: 27px;
}
.sun{
    filter: brightness(0) invert(1);
    width: 19px;
    margin-top: 6px;
}
.img{
    display: flex;
    gap: 25px;
}
.zero{
    font-size: 13px;
    font-weight: 500;
    text-align: center;
    background-color: var(--pink-color);
    color: var(--black-color);
    height: 18px;
    width: 22px;
    padding-top: 2px;
    border-radius: 50%;
    margin-left: -36px;
    margin-top: -7px;
    z-index: 1;
}
.first{
    display: flex;
    justify-content: space-between;
    margin-top: 85px;
}
.firtx{
    width: 558px;
    margin-top: 40px;
}
.firimg{
    height: 504px;
    width: 559px;
    display: flex;
    gap: 20px;
    background-color: var(--sign-color);
    padding: 18px;
    border-radius: 20px;
    overflow-x: auto;
}

.firimg::-webkit-scrollbar {
    display: none;  
}
.couch{
    width: 100%;
    height: 100%;
    border-radius: 20px;
}
.cou2{
   height: 100%;
   width: 100%; 
   border-radius: 20px;
}
.cou3{
    height: 100%;
    width: 100%;
    border-radius: 20px;
}
.cou4{
    height: 100%;
    width: 100%;
    border-radius: 20px;
}
.we{
    color: var(--white3-color);
    font-size: 68px;
    font-weight: 700;
    letter-spacing: -1.68px;
    line-height: 67.5px;
    font-family: var(--font-family);
}
.lor{
    font-size: 20px;
    line-height: 36px;
    color: var(--white3-color);
    font-family: var(--font-family);
    margin-top: 30px;
}
.our{
    height: 54px;
    width: 155px;
    background-color: var(--pink-color);
    color: var(--black-color);
    text-align: center;
    font-size: 15.7px;
    font-family:var(--font-family);
    font-weight: 500;
    border: none;
    border-radius: 10px;
    margin-top: 50px;
    cursor: pointer;
}
.whole2{
    padding: 108px 0 0 0;
}
.feat{
    padding: 15px;
    box-shadow: 0px 4px 6px 0px var(--boxshadow-color);
}
.fea{
    font-size: 33.75px;
    font-weight: 500;
    color: var(--white3-color);
    font-family: var(--font-family);
    letter-spacing: 1.68px;
}
.items{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 30px;
    padding: 54px 0 50px 0;
}
.light{
    padding: 20px;
    border-radius: 20px;
    box-shadow: 1px 1px 5px 2px var(--boxshadow-color);
}
.comfy a{
    text-decoration: none;
}
.light a{
    text-decoration: none;
}
.coffee a{
    text-decoration: none;
}
.light img{
    width: 350px;
    height: 250px;
    object-fit: cover;
    border-radius: 20px;
}
.ava{
    color: var(--white3-color);
    font-weight: 600;
    font-size: 23px;
    text-align: center;
    letter-spacing: 1.125px;
    padding-top: 20px;
    font-family: var(--font-family);
}
.light p{
    font-size: 18px;
    font-family: var(--font-family);
    text-align: center;
    color: var(--purple-color);
}
.coffee{
    padding: 18px;
    border-radius: 20px;
    box-shadow: 1px 1px 5px 2px var(--boxshadow2-color);
}
.coffee img{
    width: 350px;
    height: 250px;
    object-fit: cover;
    border-radius: 20px;
}
.coff{
    color: var(--white3-color);
    font-weight: 600;
    font-size: 23px;
    text-align: center;
    padding-top: 20px;
    letter-spacing: 1.125px;
    font-family: var(--font-family);
}
.coffee p{
    font-size: 18px;
    font-family: var(--font-family);
    text-align: center;
    color: #bf95f9;
}
.comfy{
    padding: 18px;
    border-radius: 20px;
    box-shadow: 1px 1px 5px 2px var(--boxshadow2-color);
}
.comfy img{
    width: 350px;
    height: 250px;
    object-fit: cover;
    border-radius: 20px;
}
.comf{
    color: var(--white3-color);
    font-weight: 600;
    font-size: 23px;
    text-align: center;
    padding-top: 20px;
    letter-spacing: 1.125px;
    font-family: var(--font-family);
}
.comfy p{
    font-size: 18px;
    font-family: var(--font-family);
    text-align: center;
    color: var(--purple-color);
}

/* navvar media query for mobile */
.bi {
    font-size: 28px;
    cursor: pointer;
  }
  
  .mobile-menu-icon {
    display: none;
    margin-right: 30px;
    font-size: 24px;
    filter: brightness(0) invert(1);
  }
  .mobile-nav{
    display: none;
  }
  .imga{
    display: none;
  }
  .slide{
    transform: translateY(-210%);
  }

/* about page  */
.hom{
    margin-top: 10px;
}
.love{
    padding: 90px 36px 90px 36px;
    margin: 0 27px 0 27px;
    text-align: center;
}
.lovetx{
    text-align: center;
}
.vetx{
    font-family: var(--font-family);
    font-size: 67.5px;
    font-weight: 700;
    letter-spacing: -1.6px;
    color: var(--white3-color);
    letter-spacing: 1px;
    word-spacing: 4px;
}
.pan{
    background-color: var(--pink-color);
    color: var(--darkpurle-color);
    font-size: 40.5px;
    font-weight: 700;
    letter-spacing: 4px;
    padding: 9px;
    border-radius: 18px;
    font-family: var(--font-family);
}
.lovelor{
    font-family: var(--font-family);
    font-size: 20.25px;
    margin: 27px 234px 0px 234px;
    color: var(--white3-color);
    text-align: center;
    margin-left: 270px;
    line-height: 35px;
}
.emp{
    margin: 0 27px 0 27px;
    padding: 90px 36px 90px 36px;
}
.empty{
    padding: 0 0 23px 0;
    box-shadow: 1px 1px 5px 1px var(--boxshadow-color);
}
.you{
    font-size: 33.75px;
    font-weight: 500;
    letter-spacing: 1.6px;
    color: var(--white3-color);
    font-family:var(--font-family);
}
.inputsec{
    background-color: var(--main-color);
    padding: 18px 36px 18px 36px;
    margin-top: 90px;
    border-radius: 8px;
}
.pro-first{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 14px;
    padding-bottom: 40px;
}
.search-box label{
    font-size: 16px;
    font-family: var(--font-family);
    color: var(--white3-color);
}
.search-box input{
    background-color: var(--body-color);
    color: var(--white3-color);
    height: 35px;
    width: 275px;
    border: 1px solid var(--outine-color);
    border-radius: 10px;
    outline: none;
}
.select-box label{
    font-size: 16px;
    font-family: var(--font-family);
    color: var(--white3-color);
}
#Category{
    background-color: var(--body-color);
    color: var(--white3-color);
    height: 36px;
    width: 275px;
    border: 1px solid var(--outine-color);
    border-radius: 10px;
}
.company label{
    font-size: 16px;
    font-family: var(--font-family);
    color: var(--white3-color);
}
#company{
    background-color: var(--body-color);
    color: var(--white3-color);
    height: 36px;
    width: 275px;
    border: 1px solid var(--outine-color);
    border-radius: 10px;
}
.sort label{
    font-size: 16px;
    font-family: var(--font-family);
    color: var(--white3-color);
}
#sort{
    background-color: var(--body-color);
    color: var(--white3-color);
    height: 36px;
    width: 275px;
    border: 1px solid var(--outine-color);
    border-radius: 10px; 
}
.pro-sec{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 25px;
}
.Price{
    margin-top: 15px;
}
.Price p{
    font-size: 16px;
    line-height: 23px;
    color: var(--white3-color);    
}
.one{
    font-size: 18px;
    line-height: 27px;
    color: var(--white3-color);
    margin-left: 105px;
}
.max{
    margin-left: 140px;
    font-weight: 600;
}
input[type="range"]{
    -webkit-appearance: none;
    width: 260px;
    height: 18px;
    border-radius: 10px;
    outline: none;
    overflow: hidden;
    background: var(--sign-color);
    
}
input[type="range"]::-webkit-slider-thumb{
    appearance: none;
    width: 20px;
    height:20px;
    border-radius: 50%;
    background: var(--main-color);
    border: 2px solid var(--pink2-color);
    box-shadow: -410px 0 0 400px var(--pink2-color);
}
.yel-search{
    margin-left: 77px;
    margin-top: 45px;
}
.reset{
    margin-top: 32px;
}
.yel-but{
    background-color: var(--pink-color);
    width: 275px;
    height: 36px;
    padding: 0px 14px 0px 14px;
    font-size: 16px;
    font-family: var(--font-family);
    text-align: center;
    color: var(--darkpurle-color);
    border: none;
    border-radius: 7px;
    font-weight: 500;
    margin-left: -90px;
}
.yel-but:hover{
    background-color:var(--pink2-color);
}
.yel-reset{
    margin-top: 12px;
    width: 275px;
    height: 36px;
    padding: 0px 14px 0px 14px;
    background-color: var(--yellow-color);
    color: var(--darkpurle-color);
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    font-family: var(--font-family);
    border: none;
    border-radius: 7px;
    margin-left: -10px;
}
.yel-reset:hover{
    background-color: var(--yellow2-color);
}
.ship{
    width: 275px;
    height: 63px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 20px;
}
.ship p{
    font-size: 16px;
    line-height: 23px;
    color: var(--white3-color);
    font-family: var(--font-family);
    width: 96px;
    height: 23px;
}
input[type="checkbox"]{
    margin-top: 10px;
    appearance: none;
    -webkit-appearance: none;
    height: 25px;
    width: 25px;
    background-color: transparent;
    border: 1px solid var(--pink-color);
    border-radius: 7px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
}
input[type="checkbox"]::after{
    content: "\f00c";
    font-family: "Font Awesome 5 Free";
    font-size: 16px;
    font-weight: 900;
    color: var(--main-color);
    display: none;
}
input[type="checkbox"]:checked{
    background-color: var(--pink-color);
}
input[type="checkbox"]:checked::after{
    display: block;
}
.menu{
 
    padding: 16px;
    box-shadow: 1px 1px 5px 1px var(--boxshadow-color);
    margin: 36px 0 0 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 60px;
    margin-bottom: 40px;
}
.menu p{
    font-family: var(--font-family);
    font-size: 18px;
    font-weight: 500;
    color: #f8f8f2;
    margin-left: 20px;
}
.fa-list{
    filter: brightness(0) invert(1);
    font-size: 22px;
    padding-right: 20px;
    cursor: pointer;
}
.fa-table-cells{
    filter: brightness(0) invert(1);
    font-size: 22px;
    cursor: pointer;
}
.menu div{
    display: flex;
    gap: 15px;
    align-items: center;
}

.product-container {
    width: 100%;
    padding: 30px 0;
}
.grid{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    grid-template-columns: repeat(3, 390px);
}
.flex{
    flex-direction: column;
    gap: 30px;
}
.loop{
    box-shadow: 2px 2px 5px 2px var(--boxshadow-color);
    height: 380px;
    border-radius: 12px;
    padding: 18px;
}
.prod-link{
    text-decoration: none;
}
.loop-img{
    width: 350px;
    height: 245px;
}
.img-contain{
    width: 100%;
    height: 100%;
    border-radius: 15px;
    object-fit: cover;
}
.loop-text{
    padding: 20px;
}
.list-items {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 30px;
}
.list-item {
    display: flex;
    justify-content: space-between;
    height: 230px;
    align-items: center; 
    box-shadow: 2px 2px 5px 2px var(--boxshadow-color);
    border-radius: 15px;
    padding: 0 20px;
    text-decoration: none;
    color: var(--white3-color);
    font-family: var(--font-family);
}
.list-item .image-desc {
    display: flex;
    gap: 60px;  
}
.hide-container {
    display: none;
}
.image-holder{
    width: 160px;
    height: 160px;
}
.image-holder img{
    width: 100%;
    height: 100%;
    border-radius: 15px;
}
.av{
    font-family: var(--font-family);
    font-size: 23px;
    font-weight: 600;
    text-align: center;
    color: var(--white3-color);
    line-height: 32px;
}
.av-p{
    font-family: var(--font-family);
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    color: var(--purple-color)
  }  
.pagination a {
    color: var(--white3-color);
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    font-family: var(--font-family);
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    height: 100%;
    display: flex;
    align-items: center;
  }
.pagination a.active {
    background-color: var(--page-color);
    color: var(--white3-color);
    height: 100%;
  }
.pagination a:hover:not(.active){
    background-color: var(--page-color);
}
.log-box{
    width: 432px;
    padding: 36px;
    box-shadow: 1px 1px 5px 1px var(--boxshadow-color);
    margin: auto;
    margin-top: 34px;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
}
.log-p{
    font-family: var(--font-family);
    font-size: 34px;
    line-height: 40px;
    text-align: center;
    color: var(--white3-color);
    font-weight: 700;
    margin-bottom: 30px;
}
.em{
    padding: 9px 5px 9px 5px;
    font-size: 18px;
    color: var(--white3-color);
    font-family: var(--font-family);
}
.email{
    font-size: 18px;
    line-height: 27px;
    height: 54px;
    padding: 0 18px 0 18px;
    border: 1px solid #51535A;
    color: #f8f8f2;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #272935;
    border-radius: 10px;
}
.pass{
    padding: 9px 5px 9px 5px;
    font-size: 18px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #f8f8f2;
    line-height: 27px;
    color: #f8f8f2;
}
.password{
    height: 54px;
    border: 1px solid #51535A;
    padding: 0 18px 0 18px;
    color: #f8f8f2;
    font-size: 18px;
    line-height: 27px;
    border-radius: 10px;
    background-color: transparent;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.login{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
    font-weight: 600;
    line-height: 16px;
    text-align: center;
    height: 54px;
    padding: 0 18px 0 18px;
    background-color: #ff7ac6;
    color: #301C27;
    border-radius: 10px;
    border:none;
}
.login:hover{
    background-color: #f94faf;
}
.user{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
    font-weight: 600;
    line-height: 16px;
    text-align: center;
    height: 54px;
    padding: 0 18px 0 18px;
    background-color: #bf95f9;
    color: #282131;
    border-radius: 10px;
    border: none;
}
.user:hover{
    background-color: #a368f6;
}
.not{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    color: #f8f8f2;
}
.reg a{
    color: #ff7ac6;
    text-decoration: none;
}
.reg:hover{
    color: #f94faf;
    border-bottom: 1px solid #f94faf;
}
.name{
    padding: 9px 5px 9px 5px;
    font-size: 18px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #f8f8f2;
    line-height: 27px;
    color: #f8f8f2;
}
.username{
    height: 54px;
    border: 1px solid #51535A;
    padding: 0 18px 0 18px;
    color: #f8f8f2;
    font-size: 18px;
    line-height: 27px;
    border-radius: 10px;
    background-color: transparent;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.pro-cart{
    width: 95%;
}
.containers{
    margin: 100px auto;
    width: 90%;
}
.whole-pro{
    display: flex;
    gap: 70px;
    /* gap: 200px; */
}
.cart-img a{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
    text-align: left;
    color: #f8f8f2;
    text-decoration: none;

}
.cart-img a:hover{
    text-decoration: underline solid #f8f8f2;
}
.fa-arrow-right{
    filter: brightness(0) invert(1);
    margin-left: 10px;
    margin-right: 10px;
}
.cart-pro{
    width: 576px;
    height: 430px;
    border-radius: 15px;
    object-fit: cover;
    margin-top: 40px;
}
.cart-info{
    flex-wrap: wrap;
    margin-top: 60px;
    /* width: 50%; */
}
.cart-name{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 33px;
    font-weight: 700;
    color: #f8f8f2;
    word-spacing: 0px;
}
.cart-company{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 22px;
    font-weight: 700;
    color: #f8f8f2;
    word-spacing: 0px;
    margin-top: 10px;
}
.cart-price{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 22px;
    color: #f8f8f2;
    word-spacing: 0px;
    margin-top: 10px;
}
.cart-dec{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
    /* width: 50%; */
    color: #f8f8f2;
    word-spacing: 0px;
    line-height: 33px;
    margin-top: 25px;
}
.colo{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
    font-weight: 500;
    color: #f8f8f2;
    word-spacing: 0px;
    letter-spacing: 0.9px;
    margin-top: 15px;
}
.colors button{
    margin-top: 10px;
}
.green{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #33ff57;
    border: none;
    cursor: pointer;
}
.green:focus{
    border: 2px solid #bf95f9;
}
.blue{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #3366ff;
    border: none;
    cursor: pointer; 
}
.blue:focus{
    border: 2px solid #bf95f9;
}