*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #272935;
}

img {
    width: 100%;
}
.sign{
    width: 100%;
    background-color: #414558;
    padding: 9px 0 9px 0;
}
.acc{
    width: 100%;
    padding: 0 36px 0 36px;
    text-align: right;
}
.create{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #d6d7db;
    font-size: 16px;
    text-decoration: none;
    margin-left: 20px;
}
.create:hover{
    border-bottom: 1px solid #d6d7db;
}
.guest{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #d6d7db;
    font-size: 16px;
    text-decoration: none;
}
.guest:hover{
    border-bottom: 1px solid #d6d7db;
}
.container{
    margin: 0 auto;
    width: 95%;
}
header{
    width: 100%;
    padding: 9px 36px 9px 36px;
    background-color: #181920;
    display: flex;
    align-items: center;
}
header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
ul{
    list-style-type: none;
    display: flex;
    gap: 30px;
    text-align: center;
}
ul li a{
    text-decoration: none;
    color: #d6d7db;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
}
.logo{
    width: 55px;
    background-color: #ff7ac6;
    border-radius: 10px;
    text-align: center;
}
.logo p{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 50px;
    margin-top: -11px;
}
.home{
    font-weight: 200;
    background-color: #414558;
    border: 0px solid #e5e7e8;
    border-radius: 9px;
    text-align: center;
    padding: 9px 18px 9px 18px;
}
.own{
    margin-top: 10px;
}
.car{
    filter: brightness(0) invert(1);
    width: 27px;
}
.sun{
    filter: brightness(0) invert(1);
    width: 19px;
    margin-top: 6px;
}
.img{
    display: flex;
    gap: 25px;
}
.zero{
    font-size: 13px;
    font-weight: 500;
    text-align: center;
    background-color: #ff7ac6;
    color: #000;
    height: 18px;
    width: 22px;
    padding-top: 2px;
    border-radius: 50%;
    margin-left: -36px;
    margin-top: -7px;
    z-index: 1;
}
.first{
    display: flex;
    justify-content: space-between;
    margin-top: 85px;
}
.firtx{
    width: 558px;
    margin-top: 40px;
}
.firimg{
    height: 504px;
    width: 559px;
    display: flex;
    gap: 20px;
    background-color: #414558;
    padding: 18px;
    border-radius: 20px;
    overflow-x: auto;
}

.firimg::-webkit-scrollbar {
    display: none;  
}
.couch{
    width: 100%;
    height: 100%;
    border-radius: 20px;
}
.cou2{
   height: 100%;
   width: 100%; 
   border-radius: 20px;
}
.cou3{
    height: 100%x;
    width: 100%;
    border-radius: 20px;
}
.cou4{
    height: 100%;
    width: 100%;
    border-radius: 20px;
}
.we{
    color: #f8f8f2;
    font-size: 68px;
    font-weight: 700;
    letter-spacing: -1.68px;
    line-height: 67.5px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.lor{
    font-size: 20px;
    line-height: 36px;
    color: #f8f8f2;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-top: 30px;
}
.our{
    height: 54px;
    width: 155px;
    background-color: #ff7ac6;
    color: #000;
    text-align: center;
    font-size: 15.7px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    border: none;
    border-radius: 10px;
    margin-top: 50px;
    cursor: pointer;
}
.whole2{
    padding: 108px 0 0 0;
}
.feat{
    padding: 15px;
    box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.2);
}
.fea{
    font-size: 33.75px;
    font-weight: 500;
    color: #f8f8f2;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    letter-spacing: 1.68px;
}
.items{
    padding: 54px 0 0 0;
    margin-left: 9px;
    display: flex;
    gap: 15px;
}
.light{
    padding: 18px;
    border-radius: 20px;
    box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.1);
}
.comfy a{
    text-decoration: none;
}
.light a{
    text-decoration: none;
}
.coffee a{
    text-decoration: none;
}
.light-img{
    width: 370px;
    height: 290px;
}
.coffee-img{
    width: 370px;
    height: 290px; 
}
.comfy-img{
    width: 370px;
    height: 290px;
}
.light img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}
.ava{
    color: #f8f8f2;
    font-weight: 600;
    font-size: 23px;
    text-align: center;
    letter-spacing: 1.125px;
    padding-top: 15px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.light p{
    font-size: 18px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    color: #bf95f9;
}
.coffee{
    padding: 18px;
    border-radius: 20px;
    box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.1);
}
.coffee img{
    width: 370px;
    height: 295px;
    object-fit: cover;

    border-radius: 20px;
}
.coff{
    color: #f8f8f2;
    font-weight: 600;
    font-size: 23px;
    text-align: center;
    padding-top: 15px;
    letter-spacing: 1.125px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.coffee p{
    font-size: 18px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    color: #bf95f9;
}
.comfy{
    padding: 18px;
    border-radius: 20px;
    box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.1);
}
.comfy img{
    width: 370px;
    height: 295px;
    object-fit: cover;
    border-radius: 20px;
}
.comf{
    color: #f8f8f2;
    font-weight: 600;
    font-size: 23px;
    text-align: center;
    padding-top: 15px;
    letter-spacing: 1.125px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.comfy p{
    font-size: 18px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    color: #bf95f9;
}

/* navvar media query for mobile */
.bi {
    font-size: 28px;
    cursor: pointer;
  }
  
  .mobile-menu-icon {
    display: none;
    margin-right: 30px;
    font-size: 24px;
    filter: brightness(0) invert(1);
  }
  .mobile-nav{
    display: none;
  }
  .imga{
    display: none;
  }
  .slide{
    transform: translateY(-210%);
  }

/* about page  */
.hom{
    margin-top: 10px;
}
.love{
    padding: 90px 36px 90px 36px;
    margin: 0 27px 0 27px;
    text-align: center;
}
.lovetx{
    text-align: center;
}
.vetx{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 67.5px;
    font-weight: 700;
    letter-spacing: -1.6px;
    color: #f8f8f2;
    letter-spacing: 1px;
    word-spacing: 4px;
}
.pan{
    background-color: #ff7ac6;
    color: #301C27;
    font-size: 40.5px;
    font-weight: 700;
    letter-spacing: 4px;
    padding: 9px;
    border-radius: 18px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.lovelor{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20.25px;
    margin: 27px 234px 0px 234px;
    color: #f8f8f2;
    text-align: center;
    margin-left: 270px;
    line-height: 35px;
}
.emp{
    margin: 0 27px 0 27px;
    padding: 90px 36px 90px 36px;
}
.empty{
    padding: 0 0 23px 0;
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.2);
}
.you{
    font-size: 33.75px;
    font-weight: 500;
    letter-spacing: 1.6px;
    color: #f8f8f2;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.inputsec{
    background-color: #181920;
    padding: 18px 36px 18px 36px;
    margin-top: 90px;
    border-radius: 8px;
}
.pro-first{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 14px;
    padding-bottom: 40px;
}
.search-box label{
    font-size: 16px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #f8f8f2;
}
.search-box input{
    background-color: #272935;
    color: #f8f8f2;
    height: 35px;
    width: 275px;
    border: 1px solid #494B54;
    border-radius: 10px;
    outline: none;
}
.select-box label{
    font-size: 16px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #f8f8f2;
}
#Category{
    background-color: #272935;
    color: #f8f8f2;
    height: 36px;
    width: 275px;
    border: 1px solid #494B54;
    border-radius: 10px;
}
.company label{
    font-size: 16px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #f8f8f2;
}
#company{
    background-color: #272935;
    color: #f8f8f2;
    height: 36px;
    width: 275px;
    border: 1px solid #494B54;
    border-radius: 10px;
}
.sort label{
    font-size: 16px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #f8f8f2;
}
#sort{
    background-color: #272935;
    color: #f8f8f2;
    height: 36px;
    width: 275px;
    border: 1px solid #494B54;
    border-radius: 10px; 
}
.pro-sec{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 25px;
}
.Price{
    margin-top: 15px;
}
.Price p{
    font-size: 16px;
    line-height: 23px;
    color: #f8f8f2;    
}
.one{
    font-size: 18px;
    line-height: 27px;
    color: #f8f8f2;
    margin-left: 105px;
}
.max{
    margin-left: 140px;
    font-weight: 600;
}
input[type="range"]{
    -webkit-appearance: none;
    width: 260px;
    height: 18px;
    border-radius: 10px;
    outline: none;
    overflow: hidden;
    background: #414558;
    
}
input[type="range"]::-webkit-slider-thumb{
    appearance: none;
    width: 20px;
    height:20px;
    border-radius: 50%;
    background: #181920;
    border: 2px solid #f94faf;
    box-shadow: -410px 0 0 400px #f94faf;
}
.yel-search{
    margin-left: 77px;
    margin-top: 45px;
}
.reset{
    margin-top: 32px;
}
.yel-but{
    background-color: #ff7ac6;
    width: 275px;
    height: 36px;
    padding: 0px 14px 0px 14px;
    font-size: 16px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    color: #301C27;
    border: none;
    border-radius: 7px;
    font-weight: 500;
    margin-left: -90px;
}
.yel-but:hover{
    background-color:#f94faf;
}
.yel-reset{
    margin-top: 12px;
    width: 275px;
    height: 36px;
    padding: 0px 14px 0px 14px;
    background-color: #ffb86b;
    color: #32261b;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border: none;
    border-radius: 7px;
    margin-left: -10px;
}
.yel-reset:hover{
    background-color: #f3a34d;
}
.ship{
    width: 275px;
    height: 63px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 20px;
}
.ship p{
    font-size: 16px;
    line-height: 23px;
    color: #f8f8f2;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 96px;
    height: 23px;
}
input[type="checkbox"]{
    margin-top: 10px;
    appearance: none;
    -webkit-appearance: none;
    height: 25px;
    width: 25px;
    background-color: transparent;
    border: 1px solid #ff7ac6;
    border-radius: 7px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
}
input[type="checkbox"]::after{
    content: "\f00c";
    font-family: "Font Awesome 5 Free";
    font-size: 16px;
    font-weight: 900;
    color: #181920;
    display: none;
}
input[type="checkbox"]:checked{
    background-color: #ff7ac6;
}
input[type="checkbox"]:checked::after{
    display: block;
}
.menu{
 
    padding: 16px;
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.2);
    margin: 36px 0 0 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 60px;
    margin-bottom: 40px;
}
.menu p{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
    font-weight: 500;
    color: #f8f8f2;
    margin-left: 20px;
}
.fa-list{
    filter: brightness(0) invert(1);
    font-size: 22px;
    padding-right: 20px;
    cursor: pointer;
}
.fa-table-cells{
    filter: brightness(0) invert(1);
    font-size: 22px;
    cursor: pointer;
}
.menu div{
    display: flex;
    gap: 15px;
    align-items: center;
}

.product-container {
    width: 100%;
    padding: 30px 0;
}
.grid{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    grid-template-columns: repeat(3, 390px);
}
.flex{
    flex-direction: column;
    gap: 30px;
}
.loop{
    box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.1);
    height: 380px;
    border-radius: 12px;
    padding: 18px;
}
.prod-link{
    text-decoration: none;
}
.loop-img{
    width: 350px;
    height: 245px;
}
.img-contain{
    width: 100%;
    height: 100%;
    border-radius: 15px;
    object-fit: cover;
}
.loop-text{
    padding: 20px;
}
.list-items {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 30px;
}
.list-item {
    display: flex;
    justify-content: space-between;
    height: 230px;
    align-items: center; 
    box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    padding: 0 20px;
    text-decoration: none;
    color: #f8f8f2;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.list-item .image-desc {
    display: flex;
    gap: 60px;  
}
.hide-container {
    display: none;
}
.image-holder{
    width: 160px;
    height: 160px;
}
.image-holder img{
    width: 100%;
    height: 100%;
    border-radius: 15px;
}
.av{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 23px;
    font-weight: 600;
    text-align: center;
    color: #f8f8f2;
    line-height: 32px;
}
.av-p{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    color: #bf95f9;
}
/* pagination */

.pagination {
    display: inline-block;
    background-color: #181920;
    height: 54px;
    display: flex;
    align-items: center;
    border-radius: 10px;
    float: right;
    margin-right: 50px;
    margin-bottom: 50px;
  }  
  .pagination a {
    color: white;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    height: 100%;
    display: flex;
    align-items: center;
  }
  .pagination a.active {
    background-color: #09090c;
    color: white;
    height: 100%;
  }
  .pagination a:hover:not(.active){
    background-color: #09090c;
}
.log-box{
    width: 432px;
    padding: 36px;
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.2);
    margin: auto;
    margin-top: 34px;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
}
.log-p{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 34px;
    line-height: 40px;
    text-align: center;
    color: #f8f8f2;
    font-weight: 700;
    margin-bottom: 30px;
}
.em{
    padding: 9px 5px 9px 5px;
    font-size: 18px;
    color: #f8f8f2;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.email{
    font-size: 18px;
    line-height: 27px;
    height: 54px;
    padding: 0 18px 0 18px;
    border: 1px solid #51535A;
    color: #f8f8f2;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #272935;
    border-radius: 10px;
}
.pass{
    padding: 9px 5px 9px 5px;
    font-size: 18px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #f8f8f2;
    line-height: 27px;
    color: #f8f8f2;
}
.password{
    height: 54px;
    border: 1px solid #51535A;
    padding: 0 18px 0 18px;
    color: #f8f8f2;
    font-size: 18px;
    line-height: 27px;
    border-radius: 10px;
    background-color: transparent;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.login{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
    font-weight: 600;
    line-height: 16px;
    text-align: center;
    height: 54px;
    padding: 0 18px 0 18px;
    background-color: #ff7ac6;
    color: #301C27;
    border-radius: 10px;
    border:none;
}
.login:hover{
    background-color: #f94faf;
}
.user{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
    font-weight: 600;
    line-height: 16px;
    text-align: center;
    height: 54px;
    padding: 0 18px 0 18px;
    background-color: #bf95f9;
    color: #282131;
    border-radius: 10px;
    border: none;
}
.user:hover{
    background-color: #a368f6;
}
.not{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    color: #f8f8f2;
}
.reg a{
    color: #ff7ac6;
    text-decoration: none;
}
.reg:hover{
    color: #f94faf;
    border-bottom: 1px solid #f94faf;
}
.name{
    padding: 9px 5px 9px 5px;
    font-size: 18px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #f8f8f2;
    line-height: 27px;
    color: #f8f8f2;
}
.username{
    height: 54px;
    border: 1px solid #51535A;
    padding: 0 18px 0 18px;
    color: #f8f8f2;
    font-size: 18px;
    line-height: 27px;
    border-radius: 10px;
    background-color: transparent;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
/* .signs{
    background-color: rgb(2, 20, 49);
}
.header{
    background-color: #F0F6FF;
}
.logo2{
    background-color: #057AFF;
    color: #f8f8f2;
}
.body{
    background-color: #fff;
}
.we2{
    color: #394E6A;
}
.lor2{
    color: #394E6A;
}
.firimg2{
    background-color: #021431;
}
.our2{
    background-color: #057AFF;
    color: #f8f8f2;
}
.car2{
    filter: brightness(0) invert(0);
}
.fa-moon{
    filter: brightness(0) invert(0);
}
.ero2{
    background-color: #057AFF;
} */